body{
    margin: 0;
    padding: 0;
}

html,body{
    height: 100%;
}

#left_menu, main{
    display: inline-block;
    height: 100%;
    position: fixed;
    top: 0;
}

#left_menu {
    width: 20%;
    background-image: url("../images/left_panel_texture .png") ;
    background-repeat: repeat;
}

#left_menu nav ul{
    list-style-type: none;
    margin: 0;
    padding: 0;
}

#left_menu nav a{
    display: block;
    padding: 10px 30% 0 30%;
    margin: 0 auto;
    color: white;
}

#left_menu nav img{
    width: 60px;
    padding: 90px;
}

main {
    width: 80%;
    right: 0;
    padding: 0 20px;
    background-image: url("../images/right_panel_texture.png") ;
    background-repeat: repeat;
}

main section{
    display: inline-block;
    width: 26%;
}

/*main header p,main header h1,main header img{*/
    /*text-align: center;*/
/*}*/

.gallery_drop_down {
    display: none;
    visibility: hidden;
}